<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | TRUSTMATE</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">TRUSTMATE ✶</div>
            <div class="nav-right">
                <a href="/tasks">Explore ▼</a>
                <a href="/login">Login</a>
                <a href="/signup" class="signup-btn">Sign up</a>
            </div>
        </div>
    </nav>

    <div class="login-container">
        <div class="login-brand">
            <img src="/img/support_local.png" style="width: 100%; max-width: 450px;">
        </div>
        <div class="login-form">
            <h2 style="font-weight: 800; margin-bottom: 40px; font-size: 32px;">LOGIN</h2>
            <form action="/auth/login" method="POST">
                <input type="email" name="email" placeholder="Email Address" class="login-input" required>
                <input type="password" name="password" placeholder="Password" class="login-input" required>
                <button type="submit" class="search-btn-dark" style="width: 100%; border-radius: 8px;">NEXT</button>
            </form>
            <p style="text-align: center; margin-top: 40px; font-weight: 700;">Don’t have an account? <br> <a href="/signup" style="text-decoration: underline;">sign up</a></p>
        </div>
    </div>
</body>
</html>